.item {
  background-color: var(--gold-4);
  width: 90%;
  padding: 10px;
  transform-origin: center;
  transition: transform 0.1s ease, border 0.1s ease, background-color 0.2s ease;
  cursor: pointer;
  border: 2px solid transparent;

  &:hover {
    border: 2px solid var(--black);
  }
}

.leaveGame {
  background-color: var(--red-1);
  color: var(--red-3);
}
