.authForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  position: relative;

  width: 60%;
  height: 80%;
  padding: 2em;
  margin-top: 12%;
  margin-right: 15%;
}

.authForm__header {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 70%;
  height: 6em;
  margin-bottom: 2em;

  background-color: #6c6c6c;
}

.authForm__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  overflow: hidden;
  gap: 1em;

  width: 100%;
  height: auto;
  min-height: 8em;
  perspective: 1200px;
  transform-style: preserve-3d;
}

.authForm__toggle {
  z-index: 10;
  text-decoration: underline;
  font-size: 0.8rem;
  transition: 0.3s ease;
  cursor: pointer;
}
