.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 0.5em;

  width: 100%;
  height: 100%;
}

.register__error {
  width: 100%;
  padding: 0.8em;
  margin-top: 0.5em;
  margin-bottom: 0.8em;
  color: var(--red-1);
  background-color: var(--red-1-opacity);
  font-size: 0.9em;
  border-left: 3px solid var(--red-1);
  box-sizing: border-box;
  border-radius: 2px;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;

  will-change: height, opacity, margin, padding;
  transform-origin: top center;
}

.register__input {
  border: none;
  outline: none;
  background-color: var(--blue-3) !important;
  color: var(--black);
  cursor: default;
  transition: all 0.05s ease;

  &::placeholder {
    color: black;
    opacity: 0.7;
  }

  &:disabled {
    opacity: 0.7;
    cursor: not-allowed;
  }

  &:nth-child(1) {
    transform: rotate(0.25deg);
  }

  &:nth-child(2) {
    transform: rotate(-0.5deg);
  }

  &:nth-child(3) {
    transform: rotate(0.3deg);
  }

  &:nth-child(4) {
    transform: rotate(-0.3deg);
  }
}

.register__input:hover {
  border: none;
  outline: none;
}

.register__input {
  width: 100%;
  height: 3em;
  padding: 0.5em;
}

.register__button {
  width: 100%;
  height: 100%;
}

.register__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;

  width: 100%;
  height: 100%;

  button {
    border: none;
    outline: none;
    border-radius: 0em;
    background-color: var(--white);
    height: 2.5em;

    &:disabled {
      opacity: 0.7;
      cursor: not-allowed;
    }
  }

  button:hover {
    cursor: pointer;
  }
}

.register__buttons__google {
  width: 30%;
  height: 100%;
  border-radius: 0em;

  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 60%;
    height: 60%;
    cursor: pointer;
  }
}

.register__buttons__register {
  width: 70%;
  height: 100%;
  background-color: var(--gold-2) !important;

  img {
    width: 70%;
    height: 70%;
    cursor: pointer;
  }
}
