.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 0.5em;

  width: 100%;
  height: 100%;
}

.register__input {
  border: none;
  outline: none;
  background-color: var(--blue-3) !important;
  color: var(--black);
  cursor: default;

  &::placeholder {
    color: black;
    opacity: 0.7;
  }
}

.register__input:hover {
  border: none;
  outline: none;
}

.register__input {
  width: 100%;
  height: 3em;
  padding: 0.5em;
}

.register__button {
  width: 100%;
  height: 100%;
}

.register__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;

  width: 100%;
  height: 100%;

  button {
    border: none;
    outline: none;
    border-radius: 0em;
    background-color: var(--white);
    height: 2.5em;
  }

  button:hover {
    cursor: pointer;
  }
}

.register__buttons__google {
  width: 30%;
  height: 100%;
  border-radius: 0em;

  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 60%;
    height: 60%;
    cursor: pointer;
  }
}

.register__buttons__register {
  width: 70%;
  height: 100%;
  background-color: var(--gold-2) !important;

  img {
    width: 70%;
    height: 70%;
    cursor: pointer;
  }
}
